.header {
    background-color: lavender;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 8px;
    padding-left: 2.5rem !important;
}

button.nav-btn {
    background-color: lavender !important;
    border-color: lavender !important;
    color: #0056b3 !important;
}

svg.search-icon {
    font-size: 1.313rem !important;
    position: absolute;
    margin-left: 8px;
    opacity: 0.5;
}