/* Movie List Table */
div.movie-list-contaner {
    height: calc(100vh - 60px) !important;
    overflow: auto !important;
}

table.movie-list-table tbody tr {
    cursor: pointer;
    height: 138px !important;
    max-height: 138px !important;
    min-height: 138px !important;
}

span.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.5;

    width: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

span.release-data {
    opacity: 0.5;
}