.h-10 {
    height: 10% !important;
}
.w-80 {
    width: 80% !important;
}
.w-90 {
    width: 90% !important;
}

.h-30-px {
    height: 30px !important;
}
.h-60-px {
    height: 60px !important;
}

.flex-half {
    flex: 0.5 1 auto !important;
}

.flex-1 {
    flex: 1 1 auto;
}